.header {
  display: flex;
  justify-content: space-between; /* Вирівнює лого зліва, навігацію справа */
  align-items: center;
  border-bottom: 1px solid var(--badges);
  padding: 24px 120px;
  height: 68px;
  background: var(--badges);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logoImage {
  height: 32px;
  margin-right: 8px;
}

.logoText {
  font-weight: 700;
  font-size: 18px;
  color: var(--main);
}

.logoAccent {
  color: var(--button-hover);
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.navLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--main);
  text-decoration: none;
  transition: color 0.3s;
}

.navLink:hover {
  color: var(--button-hover);
}

.active {
  color: var(--button-hover);
}
